body{
  background-color: #222;
  /* border: 5px solid blue; */
}

.clock{
  width: 25em;
  height: 25em;
  border: 10px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}
.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand{
  width: 50%;
  position: absolute;
  top: 50%;
  border: 3px solid black;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.16, 1.47, 0.58, 1);
}
h1{
  font-family: sans-serif;
  color: white;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: sans-serif;
  background-color: #eee;
  padding: 1em;
}
a{
  color: #222;
}
